- name: MariaDB installation
  hosts: mariadbs
  become: yes
  tasks:
    # - name: enable and start firewalld service
    #   systemd:
    #     name: firewalld
    #     state: started
    #     enabled: yes
    # - name: permit traffic in default zone on port 22/tcp
    #   ansible.posix.firewalld:
    #     port: 22/tcp
    #     permanent: yes
    #     state: enabled
    #     immediate: yes
    # - name: permit traffic in default zone on port 3306/tcp
    #   ansible.posix.firewalld:
    #     port: 3306/tcp
    #     permanent: yes
    #     state: enabled
    #     immediate: yes
      - name: Install MariaDB repository 10.3
        apt_repository: repo='deb [arch=amd64] http://mirror.zol.co.zw/mariadb/repo/10.3/ubuntu xenial main' state=present
    
      - name: Add repository key to the system
        apt_key: keyserver=hkp://keyserver.ubuntu.com:80 id=0xF1656F24C74CD1D8

      - name: update
        apt: update_cache=yes   
        ignore_errors: yes      

      - name: Install MariaDB Server 10.3
        apt: name=mariadb-server state=latest
        
      - name: Install MariaDB Client 10.3
        apt: name=mariadb-client state=latest

      - name: Restart MariaDB 10.3
        service: name=mysql state=restarted